In [ ]:
1. Write a Python function to find the maximum of three numbers Sample input:

In [46]:
a = 20
b = 12
c = 18
print(max(a, b, c))

20

In [ ]:
2.Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even

In [63]:
for i in range(1,15):
  if(i%2==0):
    print(i,'=even')
  else:
    print(i ,'=odd')

1 =odd
2 =even
3 =odd
4 =even
5 =odd
6 =even
7 =odd
8 =even
9 =odd
10 =even
11 =odd
12 =even
13 =odd
14 =even

In [51]:
3.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument

In [83]:
def fact(n):
   if n==1:
     return 1
   else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

4
24

In [ ]:
4.Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [88]:
for i in range(1,10):
  if i%2==0:
    print("fizz",i)
  if i%5==0:
    print("buzz",i)
  if i%2==0 and i%5==0:
    print("frizzbuzz",i)

fizz 2
fizz 4
buzz 5
fizz 6
fizz 8

In [ ]:
5.Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number

In [118]:
def sumOfSeries(n):
    x = (n * (n + 1) / 2)
    return (int)(x * x)
n = 5
print(sumOfSeries(n))

225

In [ ]:
6.Write a Python function to find the sum of squares of the numbers in a list

In [117]:
l = [1,2,3]
print(sum(i*i for i in l))

14

In [ ]:
7.Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp

In [123]:
import math
result = math.pow(4, 2)
print(result)

16.0

In [ ]:
8.Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number

In [129]:
def sumOfseries(m):
  sum=0
  for i in range(1,m+1):
    sum+=i *i*i
  return sum
m=7
print(sumOfseries(m))

784

In [ ]:
9.Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value

In [136]:
str1 =" sanusha Siva"
count = {}
for i in str1:
    if i in count:
        count[i.lower()] = count[i.lower()] + 1
    else:
        count[i.lower()] = 1
print(count)

{' ': 2, 's': 1, 'a': 3, 'n': 1, 'u': 1, 'h': 1, 'i': 1, 'v': 1}

In [ ]:
10.bit_lengthWrite a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [137]:
celsius = float(input("Enter temperature\
in celsius: "))

fahrenheit = (celsius * 1.8) + 32

print(str(celsius )+ " degree Celsius\
is equal to " + str(fahrenheit )+" degree Fahrenheit.")

Enter temperaturein celsius: 100
100.0 degree Celsiusis equal to 212.0 degree Fahrenheit.